body {
    background-color: bisque;
}

.box {
    border: 1px solid red;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

@media screen and (max-width: 320px){
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
}